/* CSS Background */

.background-image {
    background-image: url(../Img/image-2.jpg);
    height: 600px;
    max-width: 1500px;
    background-repeat: no-repeat;
    /* background-repeat: repeat-x; */
    /* background-repeat: repeat-y; */
    /* background-repeat: space; */
    /* background-repeat: round; */
    /* background-position: bottom left; */

    border: 50px solid transparent;
    padding: 100px;
    /* background-size: contain; */
    background-size: cover;
    /* background-clip: border-box; */
    /* background-clip: padding-box; */
    /* background-clip: content-box; */
    /* background-origin: border-box; */
    /* background-origin: padding-box; */
    /* background-origin: content-box; */
}