* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #212121;
    color: white;
    font-family: "Roboto", sans-serif;
}

.textCenter {
    text-align: center;
}

h1 {
    text-align: center;
    color: red;
}

h3 {
    color: #FCCB06;
    font-size: 28px;
}

.border {
    border: 2px solid #fff;
}

.flex {
    display: flex;
    /* flex-wrap: wrap; */
}

.flex .divs {
    height: 150px;
    width: 150px;
    font-size: 25px;
}

/* Flex Direction */

#row {
    flex-direction: row;
}

#row-reverse {
    flex-direction: row-reverse;
}

#column {
    flex-direction: column;
}

#column-reverse {
    flex-direction: column-reverse;
}

/* Justify Content Properties */

.flex-start {
    justify-content: flex-start;
}

.flex-end {
    justify-content: flex-end;
}

.center {
    justify-content: center;
}

.spaceBetween {
    justify-content: space-between;
}

.spaceAround {
    justify-content: space-around;
}

.spaceEvenly {
    justify-content: space-evenly;
}

/* Align Item Properties */

.alignStart {
    align-items: flex-start;
    height: 400px;
}

.alignEnd {
    align-items: flex-end;
    height: 400px;
}

.alignCenter {
    align-items: center;
    height: 400px;
}

/* Flex Direction Column Justify Content Behaviour */

.columnJustifyStart {
    height: 1000px;
    justify-content: flex-start;
}

.columnJustifyEnd {
    height: 1000px;
    justify-content: flex-end;
}

.columnJustifyCenter {
    height: 1000px;
    justify-content: center;
}

.columnJustifySpaceBetween {
    height: 1000px;
    justify-content: space-between;
}

.columnJustifySpaceEvenly {
    height: 1000px;
    justify-content: space-evenly;
}

.columnJustifySpaceAround {
    height: 1000px;
    justify-content: space-around;
}

/* Flex Direction Column Align Items Behaviour */

.columnAlginStart {
    align-items: flex-start;
}

.columnAlginEnd {
    align-items: flex-end;
}

.columnAlginCenter {
    align-items: center;
}

.flex div:nth-child(1) {
    /* order: 5; */
    background-color: #8338ec;
}

.flex div:nth-child(2) {
    background-color: #e63946;
}
.flex div:nth-child(3) {
    /* order: 1; */
    background-color: orange;
}
.flex div:nth-child(4) {
    background-color: blue;
}
.flex div:nth-child(5) {
    /* order: 3; */
    background-color: violet;
}