<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Component 7</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet"/>
    <link rel="stylesheet" href="../src/output.css">
</head>
<body>
    <div class="h-lvh flex justify-center items-center">
        <div class="container mx-auto">
            <div class="flex flex-col md:flex-row justify-between gap-5">
                <!-- Image Section -->
                
                <div class="basis-[50%]">
                    <img src="../../assets/Images/Bluetooth-gadgets.jpg" alt="Image" class="rounded-md">
                </div>

                <!-- Text Section -->
                
                <div class="basis-[50%]">
                    <div>
                        <h1 class="text-3xl font-semibold">I Watched the storm, so Beautiful yet terrific.</h1>
                    </div>
                    <div>
                        <p class="text-gray-400 mt-6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo eius reprehenderit, ea quod distinctio libero aut sit assumenda beatae labore quam impedit placeat sapiente voluptates dolorum maiores odio autem! Eaque!</p>
                        <p class="text-gray-400">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <p class="text-gray-400 mt-6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium quod reprehenderit quasi quos. At similique, porro iusto delectus magni eveniet asperiores rem! Nulla non optio libero consectetur quisquam. Quo error architecto ullam alias doloremque nihil tempore. Vitae quam vero nihil sequi qui officia temporibus molestias, ratione magni fuga quos dolor?</p>
                        <p class="text-gray-500 text-right mt-5"><i class="fa-regular fa-clock"></i> 20 April, 2017</p>
                    </div>
                    <div class="flex flex-row justify-between items-end h-[105px]">
                        <ul class="flex flex-row">
                            <li>
                                <h6><i class="fa-solid fa-heart text-[#ff0000] text-lg"></i> 250</h6>
                            </li>
                            <li class="ps-3">
                                <h6><i class="ri-message-2-line text-[#000000] text-xl"></i> 10</h6>
                            </li>
                        </ul>
                        <div>
                            <h6><i class="fa-solid fa-bookmark text-[#000000]"></i> Save for later</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>