@media (max-width: 768px) {

    /* Header Section Media Query CSS Start */

    header {
        width: fit-content;
        background-size: cover;
    }

    header .mainHeader .navigation {
        width: 100%;
        height: auto;
    }

    header .mainHeader .navigation .logoHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px 10px;
    }
    
    header .mainHeader .navigation .logoHeader img {
        display: block;
        padding: 18px 10px;
    }
    
    #toggleBar {
        font-size: 30px;
        margin-top: 0;
        margin-right: 0;
        padding: 18px 10px;
    }

    header .mainHeader .navigation .header-social-icons {
        display: none;
    }

    .hero-section .logo {
        position: relative;
        left: 50px;
        top: 25px;
    }

    .hero-section .headingLine h1 {
        position: relative;
        left: 60px;
    }

    .hero-section .btn {
        margin: 0px auto;
    }

    /* Header Section Media Query CSS End */

    /* Main Section Media Query CSS */

    .container .about .quote {
        font-size: 22px;
        font-weight: 400;
        color: #747474;
    }

    .container .about .quote p {
        padding: 0 0 25px;
    }

    .container .about .about-para {
        font-size: 23px;
        line-height: 35px;
    }

    .container .about .do-section {
        flex-direction: column;
        padding-inline: 115px;
    }

    .container .about .do-section .cards {
        padding-block: 70px;
    }

    .container .about .do-section .title {
        font-size: 28px;
        opacity: 0.9;
    }

    .container .about .do-section .card-detail {
        padding: 0 120px;
        color: #202020;
        opacity: 0.8;
        font-weight: normal;
        font-size: 23px;
        line-height: 32px;
    }

    /* Experience Section Media Query CSS */

    .experienceSection {
        width: fit-content;
    }

    .experienceSection .container .experience {
        flex-direction: column;
    }

    .experienceSection .container .experience .experience-info h3 {
        font-size: 38px;
        text-align: center;
        line-height: 1.5;
    }

    .experienceSection .container .experience .experience-info span {
        margin: 20px auto;
        width: 75px;
        height: 5px;
    }

    .experienceSection .container .experience .experience-info p {
        text-align: center;
        font-size: 19px;
    }

    .experienceSection .container .experience .experience-numbers .numberCard {
        flex-direction: column;
        padding-block: 40px;
    }

    .experienceSection .container .experience .experience-numbers .numberCard .card {
        padding: 40px 0;
    }

    .experienceSection .container .experience .experience-numbers .numberCard .card i {
        font-size: 60px;
        margin-left: 70px;
    }

    .experienceSection .container .experience .experience-numbers .numberCard .card h3 {
        margin-top: 10px;
        font-size: 50px;
    }

    .experienceSection .container .experience .experience-numbers .numberCard .card h5 {
        font-size: 25px;
    }

    /* Portfolio Section Media Query CSS */

    .portfolioSection .mainQuote {
        width: fit-content;
    }

    /* Pricing Section Media Query CSS */

    .pricing-section .container .pricing-packages {
        flex-direction: column;
        gap: 50px;
    }

    .pricing-section .container .pricing-packages .package-heading {
        font-size: 38px;
    }

    .pricing-section .container .pricing-packages .info {
        font-size: 20px;
        word-wrap: break-word;
    }

    .pricing-section .container .pricing-packages p {
        padding-inline: 2px;
    }

    .pricing-section .container .pricing-packages .price sup {
        font-size: 34px;
    }

    .pricing-section .container .pricing-packages .price sub {
        font-size: 22px;
    }

    .pricing-section .container .pricing-packages .price {
        font-size: 75px;
    }

    .pricing-section .container .pricing-packages .benefits li {
        font-size: 24px;
        line-height: 40px;
    }

    .pricing-section .container .pricing-packages a {
        font-size: 22px;
    }

    /* Contact Us Section Media Query CSS */

    .contactUs .container .formInfo {
        flex-direction: column;
        gap: 105px;
    }

    .contactUs .container .formInfo .contact-heading {
        text-align: center;
        font-size: 60px;
    }

    .contactUs .container .formInfo .form form {
        flex-direction: column;
        align-items: center;
    }
    
    .contactUs .container .formInfo .form form div .form-control {
        display: block;
        font-size: 22px;
        border: 3px solid #eceef2;
        padding-inline: 250px;
        padding-block: 30px;
    }

    ::placeholder {
        font-size: 22px;
        text-align: left;
    }

    .contactUs .container .formInfo .form form div textarea {
        padding-inline: 210px;
        font-size: 22px;
    }

    .contactUs .container .formInfo .form form div a  {
        font-size: 22px;
        padding: 20px 310px;
    }

    .contactUs .container .formInfo .contact-info p {
        text-align: center;
        font-size: 25px;
        padding-inline: 175px;
        line-height: 40px;
    }

    .contactUs .container .formInfo .contact-info ul li {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 25px;
    }

    .contactUs .container .formInfo .contact-info ul li i {
        font-size: 50px;
        text-align: center;
    }

    .contactUs .container .formInfo .contact-info ul li span {
        padding-right: 0;
    }

    /* Footer Media Query CSS */

    .footer {
        width: fit-content;
    }

    .footer .container .footer-section {
        flex-direction: column;
        align-items: center;
        gap: 25px;
        padding-block: 50px;
    }

    .footer .container .footer-section .social-icons ul li i {
        font-size: 25px;
        padding: 15px 35px;
    }

    .footer .container .footer-section .copyright p {
        font-size: 25px;
    }
}