* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

header {
    background-image: url(../../assets/Images/banner-before.jpg);
    background-size: cover;
    height: 700px;
}

.mainHeader {
    display: flex;
}

header .mainHeader .navigation {
    height: 100%;
    border: 2px solid red;
    width: 18%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 5;
    /* background-color: #fff;
    color: #000; */
}

header .mainHeader .navigation .navbar .navlist {
    border: 2px solid brown;
    padding-left: 35px;
    /* padding-top: 120px; */
    text-align: left;    
}

header .mainHeader .navigation .navbar .navlist li {
    list-style-type: none;
    margin-top: 20px;
    margin-bottom: 30px;   
}

header .mainHeader .navigation .navbar .navlist li a {
    color: #202020;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 600;
}

header .mainHeader .navigation .copyright p {
    padding-left: 30px;
    font-size: 16px;
    text-align: left;
    color: #202020;
}

header .mainHeader .navigation .copyright p span {
    white-space: nowrap;
}

.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 700px;
}

.hero-section .headingLine h1 {
    font-size: 74px;
    background-color: #ffffff;
    color: #202020;
    letter-spacing: 1px;
    padding-inline: 14px;
    position: relative;
    top: 45px;
}

.hero-section .hero-line p {
    font-size: 22px;
    color: #fff;
    text-align: center;
    text-transform: capitalize;
    width: 610px;
    line-height: 31px;
    position: relative;
    top: 70px;
}

.hero-section .btn {
    font-size: 18px;
    text-align: center;
    padding: 10px 45px;
    background: none;
    border: 2px solid #fff; 
    color: #fff;
    border-radius: 40px;
    line-height: 33px;
    position: relative;
    top: 120px;
}

.hero-section .btn:hover {
    cursor: pointer;
    background-color: #fff;
    color: #000;
}

/* Main Section CSS Starts */

.container {
    border: 2px solid yellowgreen;
    width: 1024px;
    margin: 0px auto;
}

/* Do Section CSS */

.container .about {
    padding-top: 120px;
    text-align: center;
}

.container .about .quote {
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.5px;
    line-height: 25px;
}

.container .about .do-title {
    font-family: "Montserrat", sans-serif;
    border: 3px solid black;
    font-size: 40px;
    color: #202020;
    display: inline-block;
    padding: 15px 30px;
    margin: 25px auto;
    line-height: 48px;
    letter-spacing: 0.5px;
    font-weight: bold;
}

.container .about .about-para {
    color: #6b6b6b;
    font-size: 16px;
    padding: 0 200px;
    text-align: center;
    line-height: 25px;
}

.container .about .do-section {
    margin-top: 65px;
    /* border: 2px solid coral; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container .about .do-section .icons {
    display: inline-block;
    font-size: 50px;
    margin-top: 55px;
}

.container .about .do-section .title {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    text-transform: capitalize;
    font-weight: normal;
    margin: 25px 0;
}

.container .about .do-section .card-detail {
    font-size: 16px;
    text-align: center;
    padding-bottom: 60px;
    letter-spacing: 0.5px;
}

#pen {
    color: #05c38a;  
}

#code {
    color: #6c30eb;
}

#marketing {
    background-color: #0c95f8;
    color: #ffffff;
}

#marketing:hover {
    cursor: pointer;
}

#design:hover {
    background-color: #05c38a;
    color: #fff;
    cursor: pointer;
}

#design:hover #pen {
    color: #fff;
}

#development:hover {
    background-color: #6c30eb;
    color: #fff;
    cursor: pointer;
}

#development:hover #code {
    background-color: #6c30eb;
    color: #fff;
    cursor: pointer;
}

/* Experience Section CSS */

.experienceSection {
    background-color: #6c30eb;
    margin-top: 150px;
    padding: 120px 0;
}

.experienceSection .container .experience {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px 15px;
}

.experienceSection .container .experience .experience-info {
    width: 50%;
} 

.experienceSection .container .experience .experience-numbers {
    width: 50%;
} 

.experienceSection .container .experience .experience-info h3 {
    font-size: 30px;
    font-family: "Montserrat", sans-serif;
    color: #fff;
    text-align: left;
    font-weight: normal;
    line-height: 45px;
    letter-spacing: 0.5px;
}

.experienceSection .container .experience .experience-info span {
    text-decoration: underline;
    display: block;
    width: 50px;
    height: 3px;
    background-color: #fff;
    margin: 20px 0;
}

.experienceSection .container .experience .experience-info p {
    color: #fff;
    font-size: 16px;
    text-align: left;
    letter-spacing: 0.5px;
    line-height: 25.6px;
    font-weight: normal;
}

.experienceSection .container .experience .experience-numbers .numberCard {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.experienceSection .container .experience .experience-numbers .numberCard .card i {
    font-size: 42px;
    margin-left: 35px;
    color: #fff;
}

.experienceSection .container .experience .experience-numbers .numberCard .card h3 {
    font-size: 30px;
    text-align: center;
    color: #fff;
    margin-top: 30px;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.experienceSection .container .experience .experience-numbers .numberCard .card h5 {
    color: #fff;
    font-size: 16px;
    text-align: center;
    margin-bottom: 8px;
    font-weight: 400;
} 

/* Portfolio Section CSS */

.portfolio .items {
    border: 2px solid red;
    display: grid;
    grid-template-columns: repeat(2, auto);
    position: relative;
    background-color: violet;
}

.portfolio .items .item-1 {
    display: grid;
    grid-template-columns: auto auto;
}

.portfolio .items .item-1 .inner-item1 {
    grid-row-start: 1;
    grid-row-end: 3;
}

.portfolio .items .item-4 {
    display: grid;
    grid-template-columns: auto auto;
}

.portfolio .items .item-4 .in-item1 {
    grid-column-start: 1;
    grid-column-end: 3;
}

.portfolio .items .portfolio-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.portfolioSection .mainQuote {
    background-color: #f0316a;
    margin-top: 90px;
    padding: 100px 0;
}

.portfolioSection .mainQuote .container p {
    text-align: center;
    font-size: 28px;
    letter-spacing: 0.5px;
    font-family: 'Montserrat', sans-serif;
    padding: 0 200px;
    color: #ffffff;
    line-height: 39.2px;
    font-weight: 500;
}

.portfolioSection .mainQuote .writer {
    text-align: center;
    font-size: 20px;
    font-weight: normal;
    color: #fff;
    padding-top: 25px;
}

#leftquote {
    font-size: 25px;
    margin-left: 25px;
    color: #fff;
}

#rightquote {
    font-size: 25px;
    display: block;
    text-align: end;
    margin-right: 25px;
    color: #fff;
}

/* Portfolio CSS Ends */

/* Pricing CSS Starts */

.pricing-section .container {
    padding: 120px 0;
}

.pricing-section .container .pricing-packages {
    margin-top: 50px;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    text-align: center;
    gap: 20px;
}

.pricing-section .container .padding {
    flex-basis: 320px;
    padding-block: 40px;
}

.pricing-section .container .pricing-packages .package1 {
    background-color: #6c30eb;
    color: #fff;
}
.pricing-section .container .pricing-packages .package2 {
    background-color: #05c38a;
    color: #fff;
}

.pricing-section .container .pricing-packages .package3 {
    background-color: #0c95f8;
    color: #fff;
}

.pricing-section .container .pricing-packages .package-heading {
    font-size: 24px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    padding-top: 45px;
}

.pricing-section .container .pricing-packages .package-heading:hover {
    cursor: pointer;
    text-decoration: underline;
}

.pricing-section .container .pricing-packages .info {
    font-size: 16px;
    letter-spacing: 0.5px;
    /* color: #fff; */
    padding: 20px;
    font-weight: normal;
}

.pricing-section .container .pricing-packages sup {
    font-size: 24px;
    margin-right: 10px;
    vertical-align: middle;
}

.pricing-section .container .pricing-packages sub {
    font-size: 15px;
    vertical-align: baseline;
}

.pricing-section .container .pricing-packages .price {
    font-family: 'Montserrat', sans-serif;
    font-size: 62px;
    letter-spacing: 0.5px;
    line-height: 25px;
    padding: 30px 0; 
}

.pricing-section .container .pricing-packages ul li {
    list-style-type: none;
}

.pricing-section .container .pricing-packages .benefits {
    margin-bottom: 25px;
}

.pricing-section .container .pricing-packages .benefits li {
    font-size: 16px;
    letter-spacing: 0.5px;
    padding: 5px;
}

.pricing-section .container .pricing-packages a {
    display: inline-block;
    font-size: 16px;
    padding: 15px 50px;
    border: 2px solid #fff;
    border-radius: 50px;
    margin-block: 10px;
    text-decoration: none;
    color: #fff;
}

.pricing-section .container .pricing-packages a:hover {
    background: #ffffff;
    border-color: #ffffff;
    color: #232728;
}

.pricing-section .map iframe {
    padding: 0 15px;
    opacity: 0.8;
}
/* Pricing Section CSS End */

/* Contact Us Section CSS Start */

.contactUs {
    border: 2px solid blue;
    padding-bottom: 120px;
}

.contactUs .container .formInfo {
    padding: 0 15px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

#contact-about {
    padding-bottom: 120px;
}

.contactUs .container .formInfo .form {
    padding: 0 15px;
    flex-basis: 550px;
}

.contactUs .container .formInfo .contact-heading {
    font-size: 40px;
    text-align: left;
    margin-bottom: 40px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.5px;
    font-weight: 500;
    color: #f0316a;
    text-transform: capitalize;
}

.contactUs .container .formInfo .form form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.contactUs .container .formInfo .form form div:first-child {
    flex-basis: 0;
}

.contactUs .container .formInfo .form form .form-control:focus {
    outline: none;
    border-color: #80bdff;
}

textarea:focus {
    outline: none;
    border-color: #80bdff;
}

::placeholder {
    font-size: 15px;
    color: #202020;
}

.contactUs .container .formInfo .form form textarea {
    padding: 13px;
    padding-left: 25px;
    font-size: 16px;
    color: #8799a3
}

.contactUs .container .formInfo .form form div .form-control {
    padding: 20px;
    margin-bottom: 20px;
    text-align: left;
    letter-spacing: normal;
    border: 2px solid #eceef2;
    border-radius: 0;
}

.contactUs .container .formInfo .form form div textarea {
    /* border: 2px solid transparent; */
    border-radius: 0;
    margin-bottom: 20px;
}

.contactUs .container .formInfo .form form div a {
    display: inline-block;
    background-color: #05c38a;
    color: #fff;
    font-size: 16px;
    padding: 10px 48px;
    margin-top: 20px;
    border: 2px solid transparent;
    border-radius: 50px;
    text-transform: capitalize;
    font-weight: normal;
}

.contactUs .container .formInfo .form form div a:hover {
    cursor: pointer;
    background-color: #f0316a;
    border-color: #f0316a;
    color: #fff;
}

.contactUs .container .formInfo .contact-info {
    flex-basis: 410px;
    padding: 0 15px;
}

#contHeading {
    color: #0c95f8;
}

.contactUs .container .formInfo .contact-info p {
    font-size: 17px;
    text-align: left;
    line-height: 25px;
    letter-spacing: 0.5px;
    color: #202020;
    font-weight: normal;
    margin-bottom: 25px;
    opacity: 0.8;
}

.contactUs .container .formInfo .contact-info ul li {
    list-style-type: none;
    font-size: 16px;
    text-align: left;
    margin-bottom: 22px;
    display: flex;
    align-items: center;
    color: #202020;
    opacity: 0.8;
}

.contactUs .container .formInfo .contact-info ul li i {
    margin: 0 20px 8px 0;
    font-size: 35px;
    vertical-align: middle;
    text-align: left;
}

.contactUs .container .formInfo .contact-info ul li span {
    padding-right: 30px;
}

.contactUs .container .formInfo .contact-info ul li span:last-child {
    padding-right: 0;
}

#location {
    color: #f0316a;
}

#contact {
    color: #0c95f8;
}

#email {
    color: #6c30eb;
}

/* Contact Us Section CSS End */

/* Footer CSS Start */

.footer {
    background-color: #f0316a;
    padding: 56px 0;
}

.footer .container .footer-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .container .footer-section .social-icons ul {
    display: flex;
    align-items: center;
}

.footer .container .footer-section .social-icons ul li {
    list-style-type: none;
}

.footer .container .footer-section .social-icons ul li i {
    display: inline-block;
    font-size: 17px;
    text-align: center;
    line-height: 17px;
    letter-spacing: 0.5px;
    color: #fff;
    margin-right: 10px;
    width: 46px;
    height: 46px;
    padding: 13px 10px;
}

.footer .container .footer-section .social-icons ul li i:hover {
    border: 1px solid #fff;
    border-radius: 50px;
    background-color: #fff;
    cursor: pointer;
}

#facebook:hover {
    color: #4267B2;
}

#twitter:hover {
    color: #1DA1F2;
}

#google:hover {
    color: #DB4437;
}

#linkedin:hover {
    color: #0077b5;
}

#instagram:hover {
    color: #C32AA3;
}

#pinterest:hover {
    color: #BD081C;
}

.footer .container .footer-section .copyright p {
    font-size: 16px;
    text-align: right;
    line-height: 25px;
    letter-spacing: 0.5px;
    color: #fff;
    /* padding: 10px 10px; */
}

.footer .container .footer-section .copyright a {
    color: #fff;
    text-decoration: none;
}

.footer .container .footer-section .copyright a:hover {
    color: #3264f5;
}

/* Footer CSS End */