/* SASS Variables */

/* Height Variables */

$height1: 250px;
$height2: 350px;
$height3: 450px;

/* Width Variables */

$width1: 250px;
$width2: 350px;
$width3: 450px;

/* Background-Color Variables */

$bgColor1: red;
$bgColor2: orange;
$bgColor3: yellow;