@import 'root';

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@mixin flex-box($flex-direction, $justify-content, $align-items) {
    display: flex;
    flex-direction: $flex-direction;
    justify-content: $justify-content;
    align-items: $align-items;
}

%list-none {
    list-style-type: none;
    padding: 0 15px;
}

%button-style {
    background: none;
    padding: 13px 20px;
    text-transform: uppercase;
    font-size: 17px;
    background-color: $common-color;
    color: $white;
    border: none;
}

.container {
    width: $width4;
    border: 2px solid black;
    margin: 0px auto;
    font-family: "Roboto", sans-serif;


    .navbar-section {
        @include flex-box(row, space-between, center);
        padding: 15px 0;

        .heading {
            span {
                font-size: 12px;
                font-weight: $font-weight-800;
                color: $common-color;
            }
        }

        .navbar-wrapper {
            @include flex-box(row, space-evenly, center);

            ul {
                @include flex-box(row, center, center);

                li {
                    @extend %list-none;

                    a {
                        text-decoration: none;
                        color: $black-color;
                        font-weight: $font-weight-600;

                        &:hover {
                            color: $common-color;
                        }

                        i {
                            font-size: 20px;
                            font-weight: $font-weight-100;
                            color: $gray-shade;

                            &:hover {
                                color: $common-color;
                            }
                        }
                    }
                }
            }

            div {
                button {
                    @extend %button-style;

                    i {
                        padding-right: 10px;
                    }
                }
                span {
                    display: none;
                }
            }
        }
    }

    .main-section {
        @include flex-box(row, space-between, center);
        margin: 20px 0;

        .hero-left {
            border: 4px solid $common-color;
            padding: 50px 0;

            h1 {
                font-size: 70px;
                color: $common-color;
                width: $width3;
                font-weight: $font-weight-700;
            }
            
            p {
                color: #7D7D7D;
                font-size: 20px;
                width: 460px;
                margin: 25px 0;
                line-height: 30px;
            }

            button {
                @extend %button-style;
            }
        }

        .hero-right {
            img {
                width: $width2;
                object-fit: cover;
            }
        }
    }
}

// Media Queries

/* @media (max-width: 768px) {
    .navbar-section {
        flex-direction: column;
    }
} */