* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #212121;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100lvh;
}

.anime {
    padding-inline: 30px;
    padding-block: 20px;
    font-size: 25px;
    font-weight: 700;
    background-color: #a232f9;
    color: #fff;
    border: none;
    border-radius: 15px;
}

#btn {
    animation-duration: 5s;
    animation-name: move;
    animation-delay: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    /* animation-direction: alternate-reverse; */
    /* animation-direction: reverse; */
    /* animation-play-state: paused; */
    /* animation-fill-mode: backwards; */
}

/* #btn:hover {
    animation-name: move;
    transition: all;
} */

/* @keyframes move {
    from {
        transform: translate(0px);
    }
    to {
        transform: translateX(200px);
    }
} */

@keyframes move {
    0% {
        transform: translate(0px);
    }
    25% {
        transform: translateY(-50px);
    }
    50% {
        transform: translate(0);
    }
    75% {
        transform: scale(2);
    }
    100% {
        transform: rotate(180deg);
    }
}