/* Background-Color Variables */

$bgColor1: red;
$bgColor2: orange;
$bgColor3: yellow;
$bgBlueColor: #1E50BC;

/* Color Variables */

$color1: blue;
$color2: violet;
$color3: orange;
$white: #fff;
$black-color: black;
$gray-shade: #2f323a;
$common-color: #1E50BC;